.git
.gitignore
.dockerignore

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

venv/
.venv/

checkpoints/
pretrained_weights/
outputs/
output/
runs/
logs/

results/
assets/result1.mp4
